<?xml version="1.0" encoding="utf-8"?>

<!--
# Device: 0
#  Name:                    MotionCam-3D-SBT-079
#  Hardware Identification: SBT-079
#  Type:                    MotionCam-3D
#  Firmware version:        1.13.3
#  Variant:                 M+
#  IsFileCamera:            No
#  Feature-Alpha:           No
#  Feature-Color:           Yes
#  Status:                  Attached to PhoXi Control. Ready to connect

# Device: 1
#  Name:                    basic-example
#  Hardware Identification: InstalledExamples-basic-example
#  Type:                    PhoXi3DScan
#  Firmware version:        
#  Variant:                 
#  IsFileCamera:            Yes
#  Feature-Alpha:           No
#  Feature-Color:           No
#  Status:                  Not Attached to PhoXi Control. Ready to connect

# Device: 2
#  Name:                    color-example
#  Hardware Identification: InstalledExamples-color-example
#  Type:                    MotionCam-3D
#  Firmware version:        
#  Variant:                 
#  IsFileCamera:            Yes
#  Feature-Alpha:           No
#  Feature-Color:           Yes
#  Status:                  Not Attached to PhoXi Control. Ready to connect

# You have already PhoXi device opened in PhoXi Control, the API Example is connected to device: SBT-079

# ColorCameraImage (raw RGB, this is not depth aligned RGB texture!)
# ColorCameraScale: 0.5x0.5

# 3D sensor should be [0,0,0] with identity rotation (frame of reference)
# otherwise this tool will not generate correct extrinsics
# 3D sensor position: [0; 0; 0]
# 3D sensor X axis: [1; 0; 0]
# 3D sensor Y axis: [0; 1; 0]
# 3D sensor Z axis: [0; 0; 1]

# color camera position: [-283.061; -1.00032; -4.84289]
# color camera X axis: [0.995303; -0.00869798; -0.0964132]
# color camera Y axis: [0.00895213; 0.999958; 0.0022038]
# color camera Z axis: [0.0963899; -0.00305655; 0.995339]
-->
<launch>
  <node pkg="tf2_ros" type="static_transform_publisher" name="range_color_camera_link_broadcaster" args="-0.283061 -0.00100032 -0.00484289 0.00131664 0.0482575 -0.00441772 0.998824 range_optical_frame color_camera_optical_frame" />
</launch>
