<?xml version="1.0"?>
<launch>
  <arg name="load_manager"             default="true"/>
  <arg name="manager_name"             default="camera_manager"/>
  <arg name="manager_threads"          default="4"/>

  <arg name="sensor_name"              default="camera"/>

  <!-- Requried if you need to keep retrying until device is available
       Example: "Photoneo-MotionCam-3D Color-TRD-058"
  -->
  <arg name="serial_no"                default=""/>

  <!-- [0.32, 0.64, 1.28, 2.56, 5.12, 10.24, 14.336, 20.48, 24.576, 30.72, 34.816, 40.96, ...] for rest cosult docs -->
  <arg name="color_exposure"           default="20.48" />

  <!-- [50, 100, 200, 400, ...] higher ISO -> brighter image at the cost of noise -->
  <arg name="color_iso"                default="200" />

  <!-- [0.0-1000.0] non-linear gamma correction -->
  <arg name="color_gamma"              default="1.0" />

  <!-- [10.24, 14.336, 20.48, 24.576, 30.72, 34.816, 40.96] -->
  <arg name="depth_exposure"           default="10.240000" />

  <!-- [0-4095] intensity of projected "red" light used for depth, decrease in case of overexposure-->
  <arg name="laser_power"              default="4095"/>

  <!-- [0-4095] LED "white" light intensity used for texture, decrease in case of overexposure -->
  <arg name="led_power"                default="4095"/>

  <!-- MotionCam
       - in `Camera` mode with color texture 1120x800@10 fps is achievable, resolution changes with `OutputTopology`
       - in `Scanner` mode with color texture 1680x1200@2 fps is achievable, data is high quality
  -->
  <arg name="operation_mode"           default="Camera"/> <!-- ["Camera", "Scanner"] -->

  <arg name="channel_names"            default="Range,ColorCamera"/>
  <arg name="pixel_format"             default="Coord3D_C32f,Mono16"/>

  <!-- Possible TextureSource (sent in Intensity):
       "Camera" operation_mode:  ["Color", "Laser", "LED"]
       "Scanner" operation_mode: ["Color", "Focus", "Laser", "Computed", "LED"]
  -->
  <arg name="texture_source"           default="Laser"/>

  <!-- Range
      - is delivered as float mm data
      - here we use FloatToUint adapter
  -->
  <arg name="pixel_format_internal"    default="FloatToUint,PhotoneoYCoCg420"/>

  <!-- "Range_Camera" or "Range_Scanner" depending on operation_mode -->
  <arg name="calibration_file"         default="file://$(find camera_aravis)/calibration/photoneo/motioncam_m_plus/Range_$(arg operation_mode).yaml"/>

  <!-- the Range and Intensity data is aligned, we use the same calibration twice  -->
  <arg name="camera_info_url"          default="$(arg calibration_file),$(arg calibration_file)"/>
  <!-- and publish under same frame id  -->
  <arg name="frame_id"                 default="range_optical_frame,range_optical_frame"/>

  <arg name="fps"                      default="20"/>

  <arg name="verbose"                  default="false"/>

  <!-- Nodelet Manager -->
  <node if="$(arg load_manager)" pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
    <param name="num_worker_threads" value="$(arg manager_threads)" />
  </node>

  <!-- Aravis RGB camera nodelet -->
  <node pkg="nodelet" type="nodelet" name="$(arg sensor_name)" args="load camera_aravis/CameraAravisNodelet $(arg manager_name)" output="screen">
    <param name="verbose"                value="$(arg verbose)"/>

    <param name="guid"                   value="$(arg serial_no)"/>

    <!-- Multistream Camera (not Multisource) -->
    <param name="channel_names"          value="$(arg channel_names)"/>

    <param name="pixel_format"           value="$(arg pixel_format)"/>
    <param name="pixel_format_internal"  value="$(arg pixel_format_internal)"/>

    <param name="frame_id"               value="$(arg frame_id)"/>
    <param name="camera_info_url"        value="$(arg camera_info_url)"/>

    <!-- use GenICam SFNC names as stream control parameters -->

    <param name="AcquisitionFrameRate"   value="$(arg fps)" type="double"/>
    <param name="MaximumFPS"             value="$(arg fps)" type="double"/>

    <param name="OperationMode"          value="$(arg operation_mode)"/>
    <param name="CodingStrategy"         value="Interreflections"/>
    <param name="CodingQuality"          value="High"/> <!-- Scanner only: [Fast, High, Ultra] -->

    <param name="CalibrationVolumeOnly"  value="true" type="bool"/>

    <!-- RegularGrid required for higher resolution and modelling optics with intrinsics/distortion-->
    <param name="OutputTopology"         value="RegularGrid"/>

    <param name="LaserPower"             value="$(arg laser_power)" type="int"/>
    <param name="LEDPower"               value="$(arg led_power)"   type="int"/>

    <param name="ColorSettings_ISO"      value="$(arg color_iso)" type="int"/>
    <param name="ColorSettings_Gamma"    value="$(arg color_gamma)"/>

    <param name="ColorSettings_Exposure" value="$(arg color_exposure)"/>
    <param name="CameraExposure"         value="$(arg depth_exposure)"/>
    <param name="ExposureTime"           value="$(arg depth_exposure)"/>
    <param name="SinglePatternExposure"  value="$(arg depth_exposure)"/>

    <!-- Different params and allowed values in "Camera" and "Scanner" mode -->
    <param name="CameraTextureSource"    value="$(arg texture_source)" type="str" if="$(eval operation_mode == 'Camera')" />
    <param name="TextureSource"          value="$(arg texture_source)" type="str" if="$(eval operation_mode == 'Scanner')" />

  </node>

</launch>
