<?xml version="1.0"?>
<launch>
  <arg name="load_manager"             default="true"/>
  <arg name="manager_name"             default="camera_manager"/>
  <arg name="manager_threads"          default="4"/>

  <arg name="sensor_name"              default="camera"/>
  <arg name="serial_no"                default=""/>

  <!-- MotionCam
       - with TextureSource = Color delivers Intensity as custom YCoCg 4:2:0 pixel format in GenICam/GigE-Vision Mono16
       - Range is delivered as float mm data, here we use FloatToUint adapter, to keep float use "PhotoneoYCoCg420,"
  -->
  <arg name="channel_names"            default="Intensity,Range"/>
  <arg name="texture_source"           default="Color"/>
  <arg name="pixel_format"             default="Mono16,Coord3D_C32f"/>
  <arg name="pixel_format_internal"    default="PhotoneoYCoCg420,FloatToUint"/>

  <!-- the Range and Intensity data is aligned, we use the same calibration twice  -->
  <arg name="camera_info_url"          default="file://$(find camera_aravis)/calibration/photoneo/motioncam_m_plus/Range.yaml,file://$(find camera_aravis)/calibration/photoneo/motioncam_m_plus/Range.yaml"/>
  <!-- and publish under same frame id  -->
  <arg name="frame_id"                 default="range_optical_frame,range_optical_frame"/>

  <arg name="width"                    default="1120"/>
  <arg name="height"                   default="800"/>
  <arg name="fps"                      default="20"/>

  <arg name="verbose"                  default="false"/>

  <!-- Nodelet Manager -->
  <node if="$(arg load_manager)" pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
    <param name="num_worker_threads" value="$(arg manager_threads)" />
  </node>

  <!-- Aravis RGB camera nodelet -->
  <node pkg="nodelet" type="nodelet" name="$(arg sensor_name)" args="load camera_aravis/CameraAravisNodelet $(arg manager_name)" output="screen">
    <param name="verbose"                value="$(arg verbose)"/>

    <param name="guid"                   value="$(arg serial_no)"/>

    <!-- Multistream Camera (not Multisource) -->
    <param name="channel_names"          value="$(arg channel_names)"/>

    <param name="pixel_format"           value="$(arg pixel_format)"/>
    <param name="pixel_format_internal"  value="$(arg pixel_format_internal)"/>

    <param name="frame_id"               value="$(arg frame_id)"/>
    <param name="camera_info_url"        value="$(arg camera_info_url)"/>

    <!-- use GenICam SFNC names as stream control parameters -->
    <param name="Width"                  value="$(arg width)"/>
    <param name="Height"                 value="$(arg height)"/>

    <param name="AcquisitionFrameRate"   value="$(arg fps)" type="double"/>
    <param name="Gamma"                  value="1.0"/>
    <param name="Gain"                   value="0.0"/>
    <param name="AutoFunctionsROIPreset" value="AutoFunctionsROIPreset_Full"/>
    <param name="ExposureAuto"           value="Continuous"/>
    <param name="GainAuto"               value="Continuous"/>
    <param name="BalanceWhiteAuto"       value="Continuous"/>

    <!-- RegularGrid required for higher resolution and modelling optics with intrinsics/distortion-->
    <param name="OutputTopology"         value="RegularGrid"/>
    <param name="ColorSettings_ISO"      value="200" type="int"/>
    <param name="ColorSettings_Exposure" value="20.480000"/>
    <param name="TextureSource"          value="$(arg texture_source)" type="str"/>

  </node>

</launch>
